[tool.poetry]
name = "Arguebuf"
version = "0.2.16"
description = "A library for loading argument graphs in various formats (e.g., AIF)."
authors = ["Mirko Lenz <info@mirko-lenz.de>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "http://recap.uni-trier.de"
repository = "https://github.com/ReCAP-UTR/Arguebuf"
documentation = "https://arguebuf.readthedocs.io/en/latest"

[tool.poetry.dependencies]
python = "^3.8"
networkx = "^2.8"
pendulum = "^2.1.2"
graphviz = "^0.20"
lxml = "^4.8.0"
sphinx = { version = "^4.5.0", optional = true }
furo = { version = "^2022.4.7", optional = true }
myst-parser = { version = "^0.17.2", optional = true }
sphinx-autoapi = { version = "^1.8.4", optional = true }
arg-services = "^0.2.5"

[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
pytest-datadir = "^1.3.1"
deepdiff = { extras = ["murmur"], version = "^4.3.2" }
pytest-cov = "^3.0.0"

[tool.poetry.extras]
docs = ["sphinx", "furo", "myst-parser", "sphinx-autoapi"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
