[tool.poetry]
name = "arguebuf"
version = "2.0.0b14"
description = "A library for loading argument graphs in various formats (e.g., AIF)."
authors = ["Mirko Lenz <info@mirko-lenz.de>"]
license = "MIT"
readme = "README.md"
homepage = "https://recap.uni-trier.de"
repository = "https://github.com/recap-utr/arguebuf-python"
documentation = "https://arguebuf.readthedocs.io/en/latest"
packages = [{ include = "arguebuf" }]

[tool.poetry.scripts]
arguebuf = "arguebuf.cli.app:cli"

[tool.poetry.dependencies]
python = "^3.9"
arg-services = "^1.1.0"
networkx = ">=2.8.8, <4.0"
pendulum = "^2.1.2"
graphviz = "^0.20.1"
lxml = "^4.9.2"
typer = { version = "^0.7.0", extras = ["all"], optional = true }
deepl = { version = "^1.13.0", optional = true }
pygraphviz = { version = "^1.10", optional = true }
multimethod = { version = "^1.9.1", optional = true }

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
pytest-xdist = "^3.1.0"
deepdiff = { extras = ["murmur"], version = "^6.2.3" }
lxml-stubs = "^0.4.0"

[tool.poetry.group.docs.dependencies]
pdoc = { version = "^12.3.1" }

[tool.poetry.extras]
cli = ["typer", "deepl", "multimethod"]
graphviz = ["pygraphviz"]

[tool.pytest.ini_options]
addopts = "--numprocesses 4 --dist load --cov arguebuf --cov-report term-missing --doctest-modules --ignore arguebuf/cli"
doctest_optionflags = "NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL ELLIPSIS"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
